<!doctype html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Plants</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script th:src="@{/js/plant-search.js}"></script>
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
        <link rel="stylesheet" href="../../static/css/stylesheet.css">
    </head>

    <body>
    <div class="container">
        <header>
            <h1 th:text="${pageTitle}">Search plants</h1>
            <p>Find inspiration for your library</p>
        </header>

        <div class="search-container">
            <input type="text" id="plantSearch" placeholder="Search plants..." onkeyup="filterPlants()">
        </div>

        <main class="plant-grid" id="plantGrid">
            <article class="plant-card" th:each="plant : ${plants}">
                <img th:src="${plant.imageUrl}" th:alt="${plant.name}" class="plant-image">

                <div class="plant-info">
                    <div class="plant-name" th:text="${plant.name}">Plant name</div>
                    <div class="scientific-name" th:text="${plant.scientificName}">Scientific namn</div>

                    <form th:action="@{/library/add}" method="post">
                        <input type="hidden" name="plantId" th:value="${plant.id}" />
                        <button type="submit" class="add-btn">+ Add to your library</button>
                    </form>
                </div>
            </article>
        </main>
    </div>
    </body>
</html>