<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<nav th:fragment="navbar" class="bg-[#427A43] mb-8" style="margin: 0; padding: 0; overflow: hidden; border-radius: 20px">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li style="float:left;">
            <a th:href="@{/library}"
               onmouseover="this.style.backgroundColor='#005F02'"
               onmouseout="this.style.backgroundColor='transparent'"
               style="display: block; color: #e6f4f0; text-align: center; padding: 14px 16px; text-decoration: none;">My Plants</a>
        </li>
        <li style="float:left;">
            <a th:href="@{/plants/search}"
               onmouseover="this.style.backgroundColor='#005F02'"
               onmouseout="this.style.backgroundColor='transparent'"
               style="display: block; text-align: center; text-decoration: none; padding: 0.6rem 1rem">
                <img src="/images/magnifying-glass.png" alt="Search" class="w-8 h-8 object-contain">
            </a>
        </li>
        <li style="float:right;">
            <a th:href="@{/logout}"
               onmouseover="this.style.color='#EA7B7B'; this.style.backgroundColor='#005F02'"
               onmouseout="this.style.color='white'; this.style.backgroundColor='transparent'"
               style="display: block; color: #e6f4f0; text-align: center; padding: 14px 16px; text-decoration: none;">Logout</a>
        </li>
        <li style="float:right;">
            <a th:text="${user.username}" style="display: block; color: #e6f4f0; text-align: center; padding: 14px 16px; text-decoration: none;">User</a>
        </li>
    </ul>
</nav>

</body>
</html>