/* Loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bouncing-dots {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: #3d2c16;
    border-radius: 50%;
    animation: bounce 1s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.3s;
}

.dot:nth-child(2) {
    animation-delay: 0.6s;
}

.dot:nth-child(3) {
    animation-delay: 0.9s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

