body {
    margin: 0;
    padding: 20px;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.plant-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
}

.plant-img {
    grid-column: 1;
}

.tags-container {
    grid-column: 2;

    display: flex;
    gap: 10px;
}

.tag {
    border: 1px solid black;
    background-color: white;
    align-self: center;
    padding: 4px;
}

.latin-name {
    grid-column: 2;
}

.watered-container {
    grid-column: 3;
    grid-row: 4;
}