# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI with Ant and JUnit

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      if: always() # This ensures the report is uploaded even if tests fail
      with:
        report_paths: '**/build/test-results/**/*.xml' # Path to your JUnit XML output
